.container {
  margin: 0 10rem 10rem 10rem;
}

.descriptionContainer {
  margin: 1rem 0 0 0;
  display: flex;
  justify-content: center;
}

.description {
  width: 24rem;
  margin: 0 1rem 0 0;
}

.description h3 {
  margin: 0;
}

.descriptionContainer img {
  width: 24rem;
  max-height: 20rem;
  object-fit: cover;
  object-position: center;
}

.exerciseCardContainer {
  display: flex;
  justify-content: center;
  margin: 1rem 0 0 0;
}

/* this isn't doing anything */
.programWorkoutsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.workoutCard {
  width: 21rem;
}

.purchaseContainer {
  margin: 3rem 0 0 0;
  display: flex;
  justify-content: center;
}

.purchaseContainer h3 {
  margin: 1rem 1rem 0 0;
}

@media only screen and (min-width: 320px) and (max-width: 617px) {

  .container {
    width: 100vw;
    margin: 0 auto;
  }

  .descriptionContainer {
    margin: 1rem 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .programWorkoutsGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }

  .descriptionContainer h3 {
    width: 19rem;
    padding-left: 1.5rem;
    padding-bottom: 1rem;
    padding-top: .5rem;
    font-size: 1rem;
  }

    .description {
      width: 20rem;
      margin: 0 1rem 0 0;
    }

  .descriptionContainer img {
    width: 18rem;
    max-height: 20rem;
    object-fit: cover;
    object-position: center;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  }

  .purchaseContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .workoutCard h2{
    font-size: 1.25rem;
  }

  .workoutCard{
    width: 18rem;
  }

  .workoutCard p{
    font-size: 1rem;
  }

  .purchaseContainer {
  margin: 3rem 0 0 0;
  display: flex;
  justify-content: center;
  margin-bottom: 9rem;
}

.purchaseContainer h3 {
  margin: 1rem 0rem 0 0;
  padding-bottom: .5rem;
  font-size: 1rem;
}

.purchaseContainer button{
    cursor: pointer;
    background-color: var(--green);
    color: var(--white);
    padding: 0.5rem 1rem;
    min-width: 8rem;
    border-radius: 0.25rem;
    border: none;
    font-size: 1rem;
    font-weight: bold;
}
}
