.container {
  position: relative;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 9rem;
  margin: 4rem 0 0 0;
  background-color: var(--green);
}

.banner h1 {
  font-size: 3.5rem;
  color: var(--white);
  margin: 0;
}

.caloriesText {
  margin: 0;
  font-weight: bold;
}

.imageContainer {
  position: absolute;
  top: 1.5rem;
  left: 4rem;
}

.cameraIcon {
  position: absolute;
  bottom: 1.5rem;
  right: 0;
  font-size: 3rem;
  cursor: pointer;
}

.imageContainer img {
  height: 13rem;
  width: 13rem;
  object-fit: cover;
  border-radius: 50%;
}

.name {
  text-align: center;
  margin: 0.5rem 0 0.5rem 0;
}

.points {
  font-weight: 400;
  text-align: center;
}

@media only screen and (min-width: 617px) and (max-width: 1200px) {
.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 9rem;
    margin: 4rem 0 0 0;
    background-color: var(--green);
    margin-bottom: 7rem;
  }

    .imageContainer {
      position: absolute;
      top: 3.5rem;
      left: 1rem;
    }

    .imageContainer img {
      height: 10rem;
      width: 10rem;
      object-fit: cover;
      border-radius: 50%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 617px) {
  .banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 6rem;
    margin: 4rem 0 0 0;
    background-color: var(--green);
    margin-bottom: 7rem;
  }

  .banner h1 {
    font-size: 1.5rem;
    color: var(--white);
    padding-bottom: .75rem;
  }

  .imageContainer {
    position: absolute;
    top: 4rem;
    left: 0.5rem;
  }

  .imageContainer img {
    height: 4rem;
    width: 4rem;
    object-fit: cover;
    border-radius: 50%;
  }

  .points {
    font-weight: 400;
    text-align: center;
    font-size: 1rem;
    margin: 0 auto;
  }

  .name {
  margin: 0.5rem 0 0.5rem 0;
  font-size: 1.25rem;
  text-align: left;
}

.cameraIcon {
  position: absolute;
  bottom: 1.5rem;
  right: 0;
  font-size: 2.5rem;
  cursor: pointer;
}
}
