.finishDayButtonContainer,
.cardsContainer {
  display: flex;
  /* margin: 4rem 10rem 0 10rem; */
  justify-content: center;
  width: 100vw;
  padding-bottom: 4rem;
}

.finishDayButtonContainer{
  padding-bottom: 5rem;
  margin-bottom: 5rem;
}

@media only screen and (min-width: 618px) and (max-width: 1000px) {
   .finishDayButtonContainer,
  .cardsContainer {
    display: flex;
    /* margin: 4rem 10rem 0 10rem; */
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    padding-bottom: 2rem;
  }

   .finishDayButtonContainer{
    padding-bottom: 5rem;
  }
}

@media only screen and (min-width: 320px) and (max-width: 617px) {
  .finishDayButtonContainer,
  .cardsContainer {
    display: flex;
    /* margin: 4rem 10rem 0 10rem; */
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    padding-bottom: 2rem;
  }

  .finishDayButtonContainer{
    padding-bottom: 5rem;
  }

  .finishDayButtonContainer button{
        cursor: pointer;
        background-color: var(--green);
        color: var(--white);
        padding: 1rem 1rem;
        min-width: 10rem;
        border-radius: 0.25rem;
        border: none;
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 5rem;
  }

  button:disabled,
  button:disabled:hover,
  button:disabled:active {
    background-color: #ccc;
    color: #292929;
    border-color: #ccc;
    cursor: not-allowed;
    margin-bottom: 5rem;
  }
}
