
.workoutDayTrackerContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.finishDayButtonContainer,
.cardsContainer {
    display: flex;
    /* margin: 4rem 10rem 0 10rem; */
    justify-content: center;
    width: 100vw;
}

.workoutFinishedContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.workoutFinishedMessages {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 618px) and (max-width: 1200px) {
  .workoutDayTrackerContainer {
      display: flex;
      justify-content: center;
      margin-bottom: 0;
    }

    .cardsContainer {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: 0 auto;
      width: 100vw;
      align-items: center;
    }
}

@media only screen and (min-width: 320px) and (max-width: 617px) {
  .workoutDayTrackerContainer {
      display: flex;
      justify-content: center;
      margin-bottom: 0;
    }
  .cardsContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    width: 100vw;
    align-items: center;
  }

  .workoutFinishedMessages {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.workoutFinishedMessages h1{
  padding-left: 5rem;
}
}
