.programRewardsContainer {
  margin: 2rem 10rem 1rem 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: azure;
}

.programRewardsTitle {
  margin-top: 0;
  font-size: 2rem;
}

.rewardsTitle {
  margin-bottom: 0;
  font-size: 2rem;
}

.programRewardsGrid,
.rewardsGrid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}
/* 
  set the last element to the far right
*/
.container {
  display: grid;
  place-items: left;
  gap: 1rem;
  padding-bottom: 10%;
  padding-left: 10%;
  margin: 2rem;
  margin-bottom: auto;
}

#bambooBg {
  z-index: 1;
  border-radius: 8%;
}

#bambooTree {
  z-index: 2;
  top: 20%;
  left: 20%;
  position: absolute;
} 

.leaderboard {
  max-width: 80%;
}
.bamboo {
  min-width: 80%;
}
/* 
  table styles by media query for mobile 
*/
@keyframes shaking-tree {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(1.5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#bambooTree:hover {
  animation: shaking-tree 1s cubic-bezier(0.165, 0.24, 0.44, 1) infinite;
}
/* 
  trasit from bamboo1 to bamboo2 to bamboo3 to bamboo4 with transition animation
*/
#bamboo1,
#bamboo2,
#bamboo3,
#bamboo4 {
  transition: all 2s ease-in-out;
  position: absolute;
  z-index: 2;
  top: 20%;
  left: 20%;
}

@media only screen and (min-width: 320px) and (max-width: 617px) {
  .programRewardsContainer {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Rewards .programRewardsTitle {
    margin-top: 0;
    font-size: 1.25rem;
  }

  .rewardsTitle {
    margin-bottom: 0;
    font-size: 1.25rem;
  }

  .programRewardsGrid,
  .rewardsGrid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
  }
  /* 
    use grid to stack .bamboo and .leaderboard inside .container
  */
  .container {
    display: grid;
    place-content: center;
  }
  .leaderboard {
    grid-area: leaderboard;
  }
  .bamboo {
    grid-area: bamboo;
  }
  /* 
    create a bit shaking animation for bambooTree
  */
  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: rgb(223, 255, 176);
    border-radius: 5%;
  }
}
