.programRewardsContainer {
  margin: 2rem 10rem 1rem 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.programRewardsTitle {
  margin-top: 0;
}

.rewardsTitle {
  margin-bottom: 0;
}

.container {
  margin: 1rem 10rem 0 20rem;
  display: flex;
  justify-content: center;
}

.programRewardsGrid,
.rewardsGrid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}