.programRewardsContainer {
  margin: 2rem 10rem 1rem 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.programRewardsTitle {
  margin-top: 0;
  font-size: 2rem;
}

.rewardsTitle {
  margin-bottom: 0;
  font-size: 2rem;
}

.container {
  margin: 1rem 10rem 10rem 20rem;
  display: flex;
  justify-content: center;
}

.programRewardsGrid,
.rewardsGrid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

@media only screen and (min-width: 320px) and (max-width: 617px) {
  .programRewardsContainer {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Rewards .programRewardsTitle{
  margin-top: 0;
  font-size: 1.25rem;
}

.rewardsTitle{
  margin-bottom: 0;
  font-size: 1.25rem;
}

  .container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-bottom: 12rem;
}

  .programRewardsGrid,
  .rewardsGrid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
  }
}
