.programRewardsContainer {
  margin: 2rem 10rem 1rem 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: azure;
}

.programRewardsTitle {
  margin-top: 0;
  font-size: 2rem;
}

.rewardsTitle {
  margin-bottom: 0;
  font-size: 2rem;
}

.programRewardsGrid,
.rewardsGrid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}
/* 
  set the last element to the far right
*/
.container {
  display: grid;
  place-items: left;
  gap: 1rem;
  padding-bottom: 10%;
  margin: 2rem;
  margin-bottom: auto;
}

section {
  display: grid;
  place-items: center;
}

#bambooBg {
  z-index: 1;
  border-radius: 8%;
}

#bambooTree {
  z-index: 2;
  top: 0%;
  left: 10%;
  position: absolute;
} 

.leaderboard {
  max-width: 90%;
}
.bamboo {
  min-width: 90%;
}

#bambooTree:hover {
  transform: scale3d(1.05, 1.03, 1.05);
  transition: all 0.3s ease-in-out;
  perspective: 4cm;
}


@media only screen and (min-width: 320px) and (max-width: 617px) {
  .programRewardsContainer {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Rewards .programRewardsTitle {
    margin-top: 0;
    font-size: 1.25rem;
  }

  .rewardsTitle {
    margin-bottom: 0;
    font-size: 1.25rem;
  }

  .programRewardsGrid,
  .rewardsGrid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
  }
  /* 
    use grid to stack .bamboo and .leaderboard inside .container
  */
  .container {
    display: grid;
    place-content: center;
  }

}
