.container {
  background-color: var(--green);
  display: flex;
  justify-content: center;
  height: 4.75rem;
  position: fixed;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100vw;
}
/*
.footer {
  background-color: var(--green);
  z-index: 100;
  display: flex;
  justify-content: center;
  height: 5.75rem;
  position: absolute;
  bottom: 0;
  width: 100vw;
} */

.logoContainer {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
}



.logoContainer svg {
 padding: 1rem 1rem 0rem 1rem;
 color: black;
}

.logoContainer svg:hover{
  color: white;
  transition: .7s;
}
