.container {
  background-color: var(--green);
  display: flex;
  justify-content: center;
  height: 4.75rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
}

.content{
  display: flex;
  align-items: center;
  width: 100vw;
  justify-content: space-between;
  height: 4.75rem;
}

.companyName{
  padding-left: 1rem;
}

.credentials{
display: flex;
flex-direction: column;
}

.credentials a{
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.credentials a:hover{
  color: white;
  transition: .7s;
}

/* .credentials a:hover{
  color: white;
  transition: .7s;
} */

.icons{
  padding-right: 1rem;
  font-size: 1.5rem;
}

.icons svg:hover {
  color: white;
  transition: .7s;
}
/*
.footer {
  background-color: var(--green);
  z-index: 100;
  display: flex;
  justify-content: center;
  height: 5.75rem;
  position: absolute;
  bottom: 0;
  width: 100vw;
} */

.logoContainer {
  display: flex;
  align-items: center;
  font-size: 1rem;
  justify-content: center;

}



.logoContainer svg {
 padding: 1rem 1rem 0rem 1rem;
 color: black;
}
/*
.logoContainer svg:hover{
  color: white;
  transition: .7s;
} */
