.container {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  height: 4rem;
  width: 100vw;
  padding: 0 1rem 0 1rem;
  background-color: var(--white);
  z-index: 10;
}

.admin {
  margin: 0 0 0 1rem;
  color: var(--green);
}

.container a {
  color: var(--black);
  text-decoration: none;
}

.linksContainer {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 1rem;
}

.links {
  display: flex;
  align-items: center;
  margin: 0 1rem 0 0;
}

.links h2 {
  margin: 0 1rem 0 0;
}

.links a {
  text-decoration: none;
  margin: 0 1rem 0 0;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--black);
  transition: all 0.1s;
}

.links a:hover,
.links a:active,
.links a.active {
  color: var(--green);
}

.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0a192f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .hamburger {
  display: none;
} */
.hidden {
  display: none;
}

@media (min-width: 769px) {
  .hidden {
      display: none;
    }

  .hamburger {
    display: none;
    color: #808080;
  }

  .mobileMenu {
    display: none;
  }
}



@media only screen and (min-width: 618px) and (max-width: 768px) {
  .linksContainer {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 1rem;
  }

  .links a {
    font-size: 1.25rem;
  }

  .container h1 {
    font-size: 1.25rem;
  }

  .hamburger {
    display: none;
    color: #808080;
  }

  .mobileMenu {
    display: none;
  }
    .hidden {
      display: none;
    }
}

@media only screen and (min-width: 320px) and (max-width: 617px) {
  .linksContainer {
    display: none;
  }

  .hamburger {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 75%);
    font-size: 1.8rem;
    cursor: pointer;
    color: black;
    margin-right: 2rem;
    display: flex;
  }

  .mobileMenu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .links {
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    line-height: 2.5rem;
  }

  .links a {
    font-size: 2.25rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .noMobileMenu {
    display: none;
  }
}
