.card {
  position: relative;
  width: 21.5rem;
  height: 17.5rem;
  transition: all 0.3s;
}

.card img {
  object-fit: cover;
  box-sizing: content-box;
  width: 100%;
  height: 9rem;
}

.title {
  text-align: center;
  margin: 0 1rem 0.5rem 1rem;
}

.description {
  margin: 0.5rem 1rem 0.5rem 1rem;
}

.card:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.35);
}

.icons {
  display: flex;
  position: absolute;
  right: 0.5rem;
  top: 0.8rem;
  color: var(--grey);
  cursor: pointer;
}

.iconBin:hover,
.iconGear:hover {
  color: black;
}

.iconGear,
.iconBin {
  margin: 0 0 0 0.25rem;
  transition: all 0.3s;
}