.card {
  display: grid;
  position: relative;
  width: 21.5rem;
  height: 17.5rem;
  place-items: center;
  
}

.card:hover {
  transform: scale(1.05);
  transition: 0.5s;
}
.card img {
  object-fit: cover;
  box-sizing: content-box;
  width: 100%;
  height: 7.5rem;
}

.card > button {
  position: absolute;
  right: 8.5%;
  bottom: 20%;
}

.card textarea, .card input {
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
  border: 1px solid darkgreen;
}

.image {
  display: grid;
  place-items: center;
  height: 100%;
  cursor: pointer;
}

.image > input {
  display: none;
}

.image > label {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.card input::placeholder, .card textarea::placeholder {
  text-align: left;
  font-family: var(--font-roboto);
}

.card a {
  text-decoration: none;
  color: inherit;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 4rem;
  /* max-width: 17rem; */
}
.title > input {
  width: 100%;
  height: 100%;
  border: solid 3px var(--blue);
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  padding: 0;
  margin: 0;
  border-radius: 0.8rem;
}


.description {
  margin: 0.5rem 1rem 0.5rem 1rem;
  max-width: 300px;
  -webkit-line-clamp: 2;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}
.description > textarea {
  height: 100%;
  border: solid 3px var(--blue);
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  padding: 0;
  margin: 0;
  border-radius: 1rem;
}

.card:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.35);
}

.icons {
  display: flex;
  position: absolute;
  right: 0.25rem;
  top: 0.45rem;
  color: darkgreen;
  cursor: pointer;
}

.iconBin:hover,
.iconGear:hover {
  color: black;
}

.icons span {
  font-size: small;
  font-weight: bolder;
}

.iconGear,
.iconBin {
  margin: 0 0 0 0.25rem;
  transition: all 0.3s;
}

@media only screen and (min-width: 618px) and (max-width: 768px) {

 .card {
    position: relative;
    width: 19.5rem;
    height: 17.5rem;
    transition: all 0.3s;
  }
    .card img {
      object-fit: cover;
      box-sizing: content-box;
      width: 100%;
      height: 7rem;
    }

    .title{
      font-size: 1rem;
    }
}

@media only screen and (min-width: 320px) and (max-width: 617px) {
.card {
    position: relative;
    width: 18.5rem;
    height: 17.5rem;
    transition: all 0.3s;
  }

  .card img {
    object-fit: cover;
    box-sizing: content-box;
    width: 100%;
    height: 7rem;
  }

  .description{
     margin: 0.5rem 1rem 0.5rem 1rem;
    max-width: 300px;
    -webkit-line-clamp: 3;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
  }

  .title {
    font-size: 1rem;
  }
}
