.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forgotPassword,
.noAccountMessage {
  color: var(--white);
}

@media only screen and (min-width: 320px) and (max-width: 617px) {
  .forgotPassword,
    .noAccountMessage {
      color: var(--white);
      font-size: 1rem;
    }
}
