.card {
  width: 48.5rem;
}

.header {
  display: flex;
  font-weight: 700;
  background-color: var(--green);
  color: var(--white);
}

.row {
  display: flex;
}

.exerciseHeader,
.exerciseRow {
  width: 23rem;
  margin-left: 1rem;
}

.workHeader,
.workRow,
.restHeader,
.restRow,
.questionHeader {
  width: 8.5rem;
}

.questionContainer {
  width: 6.5rem;
}

.workRow,
.restRow {
  font-weight: 700;
}

.questionContainer input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  box-sizing: border-box;
  width: 5rem;
}

.questionContainer {
  display: flex;
  align-items: center;
}

.rowActive {
  background-color: var(--green);
  color: white;
  font-weight: 700;
  font-size: 1.2rem;
}

.addButton {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.addButton button {
  cursor: pointer;
  background-color: var(--green);
  color: var(--white);
  border: none;
  padding: 0.25rem;
  border-radius: 0.25rem;
  width: 100%;
}

.addButton button:hover {
  background-color: var(--green-hover);
}

.addButton button:disabled,
.addButton button:disabled:hover,
.addButton button:disabled:active {
  background-color: #ccc;
  color: #292929;
  border-color: #ccc;
  cursor: not-allowed;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin: 2rem 0 0 0;
}
