.card {
  width: 21rem;
}

.header {
  display: flex;
  font-weight: 700;
  background-color: var(--green);
  color: var(--white);
}

.row {
  display: flex;
  position: relative;
}

.exerciseHeader,
.exerciseRow {
  width: 23rem;
  margin-left: 1rem;
}

.workHeader,
.workRow,
.restHeader,
.restRow {
  width: 8.5rem;
}

.workRow,
.restRow {
  font-weight: 700;
}

.edit {
  position: absolute;
  right: 2rem;
  top: 1rem;
  cursor: pointer;
  transition: all 0.3s;
}

.edit:hover {
  color: var(--green);
}
