.card {
  width: 21rem;
}

.header {
  height: 2.5rem;
  display: flex;
  font-weight: 700;
  background-color: var(--green);
  color: var(--white);
}

.header h2 {
  margin: 0;
}

.header,
.row {
  display: flex;
  align-items: center;
  text-align: center;
}

.exerciseHeader,
.exerciseRow {
  width: 10.5rem;
}

.setsHeader,
.setsRow {
  width: 10.5rem;
}

.setsRow {
  font-weight: 700;
}

@media only screen and (min-width: 320px) and (max-width: 617px) {
  .card {
      width: 18rem;
    }

    .exerciseRow h3{
      font-size: 1rem;
    }

    .exerciseHeader,
    .exerciseRow {
      font-size: .9rem;
      padding-left: .2rem;
    }

    .setsHeader,
    .setsRow {
      width: 10.5rem;
      font-size: .9rem;
    }
}
