.card {
  width: 40rem;
}

.header {
  display: flex;
  font-weight: 700;
  background-color: var(--green);
  color: var(--white);
}

.row {
  display: flex;
}

.exerciseHeader,
.exerciseRow {
  width: 18rem;
  margin-left: 1rem;
}



.reps,
.workHeader,
.workRow,
.restHeader,
.restRow {
  width: 6.5rem;
}

.reps
.workRow,
.restRow {
  font-weight: 700;
}

.reps,
.workRow,
.restRow {
  margin-left: 1rem;
}