.card {
  position: relative;
  width: 21.5rem;
  /* height: 17.5rem; */
  transition: all 0.3s;
}

.card h3 {
  cursor: pointer;
}

.card a {
  text-decoration: none;
  color: inherit;
}

.title {
  text-align: center;
  margin: 0.5rem 1rem 0.5rem 1rem;
  padding-left: 1.5rem;
}

.description {
  margin: 0.5rem 1rem 0.5rem 1rem;
}

.card:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

.icons {
  display: flex;
  position: absolute;
  right: 0.5rem;
  top: 0.8rem;
  color: var(--grey);
  cursor: pointer;
}

.iconBin:hover,
.iconGear:hover {
  color: black;
}

.iconGear,
.iconBin {
  font-size: 1rem;
  margin: 0 0 0 0.25rem;
  transition: all 0.3s;
}

@media only screen and (min-width: 320px) and (max-width: 700px) {
  .card {
      position: relative;
      width: 16.5rem;
      /* height: 17.5rem; */
      transition: all 0.3s;
    }
}
