.wrapperCard {
  margin: 1rem;
  padding: 2rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 0.2rem solid #eaeaea;
  border-radius: 1rem;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.question {
  display: flex;
  place-content: center;
  font-size: 2rem;
  padding: 5rem;
}

.answers {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 6rem;
  font-size: 1.2rem;
}
