.container {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  margin-bottom: 10rem;
}

@media only screen and (min-width: 320px) and (max-width: 617px) {
  .container {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    margin-bottom: 10rem;
    padding-bottom: 10rem;
  }



}
