.background {
  position: fixed;
  top: 0;
  left: 0;
  background: url("https://images.unsplash.com/photo-1599901860904-17e6ed7083a0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80") no-repeat center center fixed;
  height: 100vh;
  width: 100vw;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  margin: 4rem 4rem 0 4rem;
}

.mainTitle {
  margin: 8rem 0 0 0;
  font-size: 3.5rem;
  color: var(--white)
}

.subTitle {
  margin: 1rem 0 3rem 0;
  font-style: italic;
  color: var(--white)
}

.buttonsContainer {
  margin: 2rem 0 0 0;
  width: 35.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonsContainer button {
  margin: 1rem 0 0 0;
}

@media (min-width: 769px) {
  .background {
    position: fixed;
    top: 0;
    left: 0;
    background: url("https://images.unsplash.com/photo-1599901860904-17e6ed7083a0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80") no-repeat center center fixed;
    height: 100vh;
    width: 100vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .container {
    margin: 4rem 4rem 0 4rem;
  }

  .mainTitle {
    margin: 8rem 0 0 0;
    font-size: 3.5rem;
    color: var(--white)
  }

  .subTitle {
    margin: 1rem 0 3rem 0;
    font-style: italic;
    color: var(--white)
  }

  .buttonsContainer {
    margin: 2rem 0 0 0;
    width: 35.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .buttonsContainer button {
    margin: 1rem 0 0 0;
  }
}

@media (min-width: 769px) {
  .container {
    margin: 4rem 4rem 0 4rem;
  }

  .mainTitle {
    margin: 8rem 0 0 0;
    font-size: 3.5rem;
    color: var(--white)
  }

  .subTitle {
    margin: 1rem 0 3rem 0;
    font-style: italic;
    color: var(--white)
  }
}

@media only screen and (min-width: 617px) and (max-width: 768px) {
  .container {
    margin: 4rem 4rem 0 4rem;
  }

  .mainTitle {
    margin: 8rem 0 0 0;
    font-size: 2.5rem;
    color: var(--white);
    /* text-align: center; */
  }

  .subTitle {
    margin: 1rem 0 3rem 0;
    font-style: italic;
    color: var(--white);
    font-size: 1.5rem;
    /* text-align: center; */
  }
}

@media only screen and (min-width: 320px) and (max-width: 615px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .mainTitle {
    margin: 8rem 0 0 0;
    width: 100vw;
    font-size: 1.5rem;
    text-align: center;
    color: var(--white);
  }

  .subTitle {
    margin: 1rem 0 3rem 0;
    font-style: italic;
    font-size: 1rem;
    color: var(--white);
    width: 100vw;
    text-align: center;
    font-size: 1.2rem;
  }

  .background {
    position: fixed;
    top: 0;
    left: 0;
    background: url("https://images.unsplash.com/photo-1599901860904-17e6ed7083a0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80") no-repeat center center fixed;
    height: 100vh;
    width: 100vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .buttonsContainer button {
    padding: 1rem 2rem;
    min-width: 12rem;
    border-radius: 0.25rem;
    border: none;
    font-size: 1rem;
    font-weight: bold;
  }
}
