@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

:root {
  --black: #000000;
  --white: #ffffff;
  --white-hover: #F7F7F7;
  --green: #55ca8a;
  --green-hover: #4CB47B;
  --blue: #616389;
  --grey: #aeaeae;
  --light-grey: #f3f3f3;
  --blue-hover: #4C4F75;
  --haze-white: #f7f7f7;
  --font-roboto: 'Roboto';
}

body {
  margin: 0;
  font-family: var(--font-roboto);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.h1,
.h2,
.h3,
.h4,
.p {
  font-family: var(--font-roboto);
}

.h1 {
  font-size: 3.5rem;
}

.h2 {
  font-size: 2rem;
}

.h3 {
  font-size: 1.75rem;
}

.h4 {
  font-size: 1.5rem;
}

.p {
  font-size: 1.25rem;
}
input, textarea {
  font-family: var(--font-roboto);
  resize: none;
}
input::placeholder, textarea::placeholder {
  font-family: var(--font-roboto);
  font-weight: bold;
  opacity: 0.5;
  color: darkgreen;
}



/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* The CSS below is for the carousel and must be global */

.swiper-pagination {
	position: absolute;
	top: 17rem;
	right: 4.5rem;
	width: auto !important;
	left: auto !important;
	margin: 0;
}
.swiper-pagination-bullet {
	padding: 5px 10px;
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap,1rem) !important;
	border-radius: 0;
	width: .2rem !important;
	height: .8rem !important;
	text-align: center;
	color:#000;
	opacity: 1 !important;
	background: var(--blue) !important;
}
.swiper-pagination-bullet-active {
	color:#fff;
	background: var(--green) !important;
}

@media only screen and (min-width: 320px) and (max-width: 615px) {
  .swiper-pagination {
    position: absolute;
    top: 17rem;
    right: 4.25rem;
    width: auto !important;
    left: auto !important;
    margin: 0;
  }


}
