@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

:root {
  --black: #000000;
  --white: #ffffff;
  --green: #55ca8a;
  --blue: #565982;
  --haze-white: #f7f7f7;
  --font-roboto: 'Roboto';
}

body {
  margin: 0;
  font-family: var(--font-roboto);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
