.card {
  display: flex;
  height: 8rem;
  width: 24rem;
  justify-content: space-between;
}

.imageContainer {
  height: 8rem;
}

.imageContainer img {
  width: 8rem;
  height: 8rem;
  object-fit: inherit;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.textContainer {
  position: relative;
  margin: 0.5rem 1rem 0.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.title {
  margin: 0;
  color: var(--green);
}

.points {
 margin: 0;
}

.icons {
  display: flex;
  position: absolute;
  right: 0rem;
  top: 2.5rem;
  color: var(--grey);
  cursor: pointer;
}

.iconBin:hover,
.iconGear:hover {
  color: black;
}

.iconGear,
.iconBin {
  margin: 0 0 0 0.25rem;
  transition: all 0.3s;
}

@media only screen and (min-width: 320px) and (max-width: 617px) {
  .card {
    display: flex;
    height: 8rem;
    width: 18rem;
    justify-content: space-between;
    align-items: center;
  }

  .icons {
  display: flex;
  position: absolute;
  right: -1rem;
  top: 1.5rem;
  color: var(--grey);
  cursor: pointer;
}

  .imageContainer img {
  width: 8rem;
  height: 8rem;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.textContainer button{
  cursor: pointer;
    background-color: var(--green);
    color: var(--white);
    padding: .5rem 2rem;
    min-width: 8rem;
    border-radius: 0.25rem;
    border: none;
    font-size: 1rem;
    font-weight: bold;
}

.title{
  margin: 0;
  color: var(--green);
  font-size: 1rem;
  padding-bottom: .5rem;
}

.points {
  margin: 0;
  padding-bottom: .5rem;
}
}
