.container {
  width: 35.5rem;
}

@media (min-width: 769px) {
  .container {
    width: 35.5rem;
  }
}

@media only screen and (min-width: 617px) and (max-width: 768px) {
  .container {
    width: 35.5rem;
  }
}

@media only screen and (min-width: 320px) and (max-width: 615px) {
  .container {
    width: 18.5rem;

  }

  .container h3 {
    width: 16rem;
    font-size: 1.25rem;
  }
}
