.loadingSpinner {
  width: 5rem;
  height: 5rem;
  border: 1rem solid var(--light-grey);
  border-top: 1rem solid var(--green);
  border-radius: 50%;
  animation: spinner 0.9s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}