.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: fixed;
  top: 20vh;
  left: 32%;
  width: 35%;
  /* max-width: 37%; */
  background-color: var(--white);
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
}

/* .modal {
  position: absolute;
  max-width: 37%;
  background-color: var(--white);
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
} */

@media only screen and (min-width: 1000px) and (max-width: 1200px) {
  .modal {
      position: fixed;
      top: 20vh;
      left: 28%;
      width: 45%;
    }
}

@media only screen and (min-width: 767px) and (max-width: 1000px) {
  .modal {
      position: fixed;
      top: 20vh;
      left: 5%;
      /* max-width: 50%; */
      width: 85%;
      background-color: var(--white);
      padding: 1rem;
      border-radius: 0.25rem;
      box-shadow: 0 2px 8px rgb(0 0 0 / 25%);
      z-index: 30;
      animation: Modal_slide-down__tDgXQ 300ms ease-out forwards;
    }
}

@media only screen and (min-width: 320px) and (max-width: 766px) {
  .modal {
    position: fixed;
    top: 20vh;
    left: 2%;
    width: 92%;
    /* max-width: 80%; */
    background-color: var(--white);
    padding: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 2px 8px rgb(0 0 0 / 25%);
    z-index: 30;
    animation: Modal_slide-down__tDgXQ 300ms ease-out forwards;
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
