.errorContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 5vh;
  z-index: 30;
  width: 20rem;
  height: 5rem;
  background-color: lightpink;
  padding: 1rem;
  cursor: pointer;
  animation: slide-up 5000ms ease-out forwards;
}
.container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.message {
  color: white;
  font-size: 1.5rem;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }

  80% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(4rem);
  }
}