.formGrid {
  margin: 0 0 1rem 0;
  display: grid;
  width: 100%;
  grid-template-columns: 0.5fr 8fr 2fr 1fr;
}

.formGrid input,
.formGrid label {
  display: block;
}

.formGrid label {
  font-size: 1.2rem;
  margin: 0 0 .5rem 0;
}

.formGrid input,
.formGrid textarea,
.formGrid select {
  font: inherit;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: .25rem;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}

.formGrid input:focus,
.formGrid textarea:focus {
  outline: none;
  border-color: var(--green);
  background-color: var(--white);
}

.invalid input,
.invalid textarea {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.invalid input:focus,
.invalid textarea:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

.errorText {
  color: #b40e0e;
  margin: 0.25rem 0;
}

.number {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.numberOfSets {
  margin: 0 1rem 0 0;
}

.title {
  margin: 0 1rem 0 0;
}

.addButton {
  display: flex;
  align-items: center;
}

.addButton button {
  width: 100%;
}