.formGrid {
  margin: 0 0 1rem 0;
  display: grid;
  width: 100%;
  grid-template-columns: 0.5fr 8fr 2fr 1fr;
}

.formGrid input,
.formGrid label {
  display: block;
}

.formGrid label {
  font-size: 1.2rem;
  margin: 0 0 .5rem 0;
}

.formGrid input,
.formGrid textarea,
.formGrid select {
  font: inherit;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: .25rem;
  box-sizing: border-box;
  width: 100%;
  max-width: 40rem;
}

/* .formControl select {
  display: none;
} */

.formGrid input:focus,
.formGrid textarea:focus {
  outline: none;
  border-color: var(--green);
  background-color: var(--white);
}

.formActions {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 0 0 0;
}

.formActions button {
  margin: 0 0 0 1rem;
}

.invalid input,
.invalid textarea {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.invalid input:focus,
.invalid textarea:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

.errorText {
  color: #b40e0e;
  margin: 0.25rem 0;
}
