.card {
  width: 60rem;
  padding: 1rem;
  background-color: var(--haze-white);
}

.title {
  text-align: center;
  margin: 0.5rem 0 2rem 0;
}

.body {
  text-align: center;
  font-weight: 400;
  color: var(--blue);
}

@media only screen and (min-width: 618px) and (max-width: 1000px) {
  .card {
    width: 41.5rem;
    padding: 1rem;
    background-color: var(--haze-white);
  }
}

@media only screen and (min-width: 320px) and (max-width: 617px) {
.card {
    width: 21rem;
    padding: 1rem;
    background-color: var(--haze-white);
  }
}
