.controlGroup {
  display: flex;
  flex-direction: column;
  column-gap: 1rem;
  flex-wrap: wrap;
}

.formControl {
  margin: 0 0 1rem 0;
  min-width: 15rem;
  flex: 1;
}

.formControl input,
.formControl label {
  display: block;
}

.formControl label {
  font-size: 1.5rem;
  margin: 0 0 .5rem 0;
}

.formControl input,
.formControl textarea,
.formControl select {
  font: inherit;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: .25rem;
  box-sizing: border-box;
  width: 100%;
  max-width: 40rem;
}

/* .formControl select {
  display: none;
} */

.formControl input:focus,
.formControl textarea:focus {
  outline: none;
  border-color: var(--green);
  background-color: var(--white);
}

.formActions {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 0 0 0;
}

.formActions button {
  margin: 0 0 0 1rem;
}

.invalid input,
.invalid textarea {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.invalid input:focus,
.invalid textarea:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

.errorText {
  color: #b40e0e;
  margin: 0.25rem 0;
}

.title {
  text-align: center;
  margin: 0.5rem 0 2rem 0;
}

@media only screen and (min-width: 320px) and (max-width: 617px) {

  .formControl input,
  .formControl textarea,
  .formControl select {
    font: inherit;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: .25rem;
    box-sizing: border-box;
    width: 100%;
    max-width: 15rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .formControl label {
    font-size: 1.25rem;
    margin: 0 0 .5rem 0;
  }

  .formActions {
    display: flex;
    justify-content: space-around;
    margin: 1rem 0 0 0;
  }

  .formActions button {
    padding: 0.25rem 0.5rem;
    min-width: 7rem;
    margin: 0 0 0 0;
  }

}
